body{
    font-family: 'Courier New', Courier, monospace,sans-serif;
    font-size:24px;
}

ul>li{
    list-style: none;
    background-color: tomato;
    margin: 10px;
    padding: 20px;
    margin: 10px;
    color:white;
}
/* .container{
    width: 400px;
    height: 400px;
    background-color: goldenrod;
    margin-left: 400px;
    border-radius: 5%;
} */

/* #image_container{
    width: 400px;
    height: 400px;
    background-color: goldenrod;
    margin-left: 400px;
    border-radius: 5%;
} */